<Virtualhost *:{{ puerto_http}}>
    ServerAdmin admin@{{ dominio }}
    ServerName {{ dominio }}
    Redirect / https://{{ dominio }}
</Virtualhost>
<VirtualHost _default_:{{ puerto_https }}>
                ServerAdmin admin@{{ dominio }}
                ServerName {{ dominio }}

                

                DocumentRoot /var/www/{{ dominio }}/public_html

                ErrorLog ${APACHE_LOG_DIR}/error.log
                CustomLog ${APACHE_LOG_DIR}/access.log combined

                SSLEngine on

                SSLCertificateFile      /etc/ssl/certs/certificado-apache.crt
                SSLCertificateKeyFile /etc/ssl/private/llave-apache.key  


</VirtualHost>



